

logs/*.csv
src/PyResource/__pycache__/*
*.pyc
src/PyResourceOptimizer/__pycache__/display.cpython-39.pyc
src/PyResourceOptimizer/__pycache__/optimum.cpython-39.pyc
src/PyResourceOptimizer/__pycache__/utilities.cpython-39.pyc
.vscode/settings.json
*.pem
